### [Why do some pandas commands end with parentheses (and others don't)? 04](https://youtu.be/hSrDViyKWVk?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y)

[Pandas Documentation](https://pandas.pydata.org/docs/)

[GITHUB for Pandas Series (38 Videos)](https://github.com/justmarkham/pandas-videos)

[Python Documentation](https://docs.python.org/3/)

[Data School](https://www.youtube.com/dataschool)

[VsCode IntelliSense](https://code.visualstudio.com/docs/editor/intellisense#_types-of-completions)

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies.head()

In [ ]:
movies.describe()

In [ ]:
movies.shape

In [ ]:
movies.dtypes

In [ ]:
type(movies)

In [ ]:
movies                    # type a period (.) and see a listing of attributes {las no ()} and methods {has ()}

In [14]:
movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6