In [66]:
import pandas as pd
import random as rnd

In [67]:
df = pd.read_csv('sand_box.csv')
df.head()

     C_0    C_1    C_2   C_3    C_4  C_5
0  False   True  False  True  False  NaN
1   True   True  False  True   True  NaN
2  False  False  False  True  False  NaN
3   True   True   True  True  False  NaN

In [68]:
df.C_1.head()

0     True
1     True
2    False
3     True
Name: C_1, dtype: bool

In [69]:
row, col = 4, 3

pd.DataFrame.from_records([[None]*col]*row).head()

      0     1     2
0  None  None  None
1  None  None  None
2  None  None  None
3  None  None  None

In [70]:
# importing pandas
import pandas as pd

record = {'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
          'Age': [21, 19, 20, 18, 17, 21],
          'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
          'Percentage': [88, 92, 95, 70, 65, 78]}

# create a dataframe
dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])

print("Given Dataframe :\n", dataframe) 

# selecting rows based on condition
rslt_df = dataframe[(dataframe['Percentage'] > 88) & (dataframe['Stream'] == 'Science')]

print('\nResult dataframe :\n', rslt_df)

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

Result dataframe :
         Name  Age   Stream  Percentage
2  Aishwarya   20  Science          95

In [71]:


# Create a dictionary with student details 
student_details = {'Name':['Raj', 'Raj', 'Raj', 'Aravind', 'Aravind', 'Aravind', 
                             'John', 'John', 'John', 'Arjun', 'Arjun', 'Arjun'], 
                   'Subject':['Maths', 'Physics', 'Chemistry', 'Maths', 'Physics', 
                             'Chemistry', 'Maths', 'Physics', 'Chemistry', 'Maths', 
                                                           'Physics', 'Chemistry'], 
                   'Marks':[80, 90, 75, 60, 40, 60, 80, 55, 100, 90, 75, 70] 
               } 
  
# Convert dictionary to a DataFrame 
df = pd.DataFrame(student_details) 
print(df)

       Name    Subject  Marks
0       Raj      Maths     80
1       Raj    Physics     90
2       Raj  Chemistry     75
3   Aravind      Maths     60
4   Aravind    Physics     40
5   Aravind  Chemistry     60
6      John      Maths     80
7      John    Physics     55
8      John  Chemistry    100
9     Arjun      Maths     90
10    Arjun    Physics     75
11    Arjun  Chemistry     70

In [72]:
# Create a new column with Marks  
# ranked in descending order 
df['Mark_Rank'] = df['Marks'].rank(ascending = 0) 
  
# Set index to newly created column  
df = df.set_index('Mark_Rank') 
print(df)

              Name    Subject  Marks
Mark_Rank
4.5            Raj      Maths     80
2.5            Raj    Physics     90
6.5            Raj  Chemistry     75
9.5        Aravind      Maths     60
12.0       Aravind    Physics     40
9.5        Aravind  Chemistry     60
4.5           John      Maths     80
11.0          John    Physics     55
1.0           John  Chemistry    100
2.5          Arjun      Maths     90
6.5          Arjun    Physics     75
8.0          Arjun  Chemistry     70

In [73]:

# Sort the DataFrame based on the index  
df = df.sort_index() 
  
print(df)

              Name    Subject  Marks
Mark_Rank
1.0           John  Chemistry    100
2.5            Raj    Physics     90
2.5          Arjun      Maths     90
4.5            Raj      Maths     80
4.5           John      Maths     80
6.5            Raj  Chemistry     75
6.5          Arjun    Physics     75
8.0          Arjun  Chemistry     70
9.5        Aravind      Maths     60
9.5        Aravind  Chemistry     60
11.0          John    Physics     55
12.0       Aravind    Physics     40